.back-button {
	font-size: 32px;
}

.track-info {
	margin: 20px 0;
}

.metadata {
	margin: 20px;
}

.track-page-wrapper {
	margin: 50px 0;
}

.comments-wrapper {
	margin-top: 30px;
}

.comment-author {
	font-size: 12px;
	color: grey;
}
